#ajustePasos-panel {
    min-width: 125px;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ajustePasos-panel>.controles-multimedia {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#ajustePasos-panel>.controles-multimedia>img:nth-child(odd) {
    width: 45px;
    height: 45px;
}

#ajustePasos-panel>.controles-multimedia>img:nth-child(even) {
    width: 30px;
    height: 30px;
}

#ajustePasos-panel>.btn-close {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;

    width: 18px;
    height: 18px;

    border-radius: 10px;

    transition: all .3s ease-out;
}

#ajustePasos-panel>.btn-close:hover {
    background-color: #E2725B;
    rotate: 180deg;
}