#ajusteVelocidad-panel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#ajusteVelocidad-panel>.controles-numero {
    display: flex;
    gap: 10px;
}

#ajusteVelocidad-panel>.btn-close {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;

    width: 18px;
    height: 18px;

    border-radius: 10px;

    transition: all .3s ease-out;
}

#ajusteVelocidad-panel>.btn-close:hover {
    background-color: #E2725B;
    rotate: 180deg;
}

#ajusteVelocidad-number {
    width: 5ch;
    text-align: center;
    font-size: 20px;

    background: none;
    border: none;
    outline: none;
}

#ajusteVelocidad-range {
    grid-row-start: 2;

    align-self: center;

    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
