#ajustesGrid {
    position: fixed;

    top: 20px;
    z-index: 2;

    width: fit-content;
    padding: 10px 5px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background-color: var(--dark-royal-blue);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#inputText_number {
    width: 30px;

    background: none;
    border: none;
    text-align: center;
}

#ajustesGrid-inputNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ajustesGrid-inputNumber p {
    cursor: pointer;

    /* Evita que el texto/emoji se seleccione al hacer clic repetidamente */
    user-select: none;
}