body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;

    background:
        radial-gradient(at 48.521769498633496% 35.71767301009707%, hsla(45, 28.571428571428513%, 97.25490196078431%, 1) 0%, hsla(45, 28.571428571428513%, 97.25490196078431%, 0) 100%),
        radial-gradient(at 84.76345111237113% 86.67153031403592%, hsla(215.8695652173913, 44.23076923076924%, 40.78431372549019%, 1) 0%, hsla(215.8695652173913, 44.23076923076924%, 40.78431372549019%, 0) 100%),
        radial-gradient(at 52.48248701719944% 7.025754918988902%, hsla(193.89473684210526, 53.67231638418081%, 65.29411764705883%, 1) 0%, hsla(193.89473684210526, 53.67231638418081%, 65.29411764705883%, 0) 100%),
        radial-gradient(at 98.80640558203045% 44.4562826342717%, hsla(210.9375, 73.56321839080458%, 65.88235294117646%, 1) 0%, hsla(210.9375, 73.56321839080458%, 65.88235294117646%, 0) 100%),
        radial-gradient(at 65.70893732796877% 49.410840583094654%, hsla(201.33333333333331, 71.42857142857144%, 75.29411764705883%, 1) 0%, hsla(201.33333333333331, 71.42857142857144%, 75.29411764705883%, 0) 100%),
        radial-gradient(at 27.391911390382116% 86.65856628027561%, hsla(45, 28.571428571428513%, 97.25490196078431%, 1) 0%, hsla(45, 28.571428571428513%, 97.25490196078431%, 0) 100%),
        radial-gradient(at 45.87257456430118% 88.68157329092531%, hsla(215.8695652173913, 44.23076923076924%, 40.78431372549019%, 1) 0%, hsla(215.8695652173913, 44.23076923076924%, 40.78431372549019%, 0) 100%),
        radial-gradient(at 51.36963116998383% 81.33156595819948%, hsla(193.89473684210526, 53.67231638418081%, 65.29411764705883%, 1) 0%, hsla(193.89473684210526, 53.67231638418081%, 65.29411764705883%, 0) 100%),
        radial-gradient(at 80.15854664305371% 10.191461826821268%, hsla(210.9375, 73.56321839080458%, 65.88235294117646%, 1) 0%, hsla(210.9375, 73.56321839080458%, 65.88235294117646%, 0) 100%);
}