body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--bright-sky-blue) 0 180deg
      )
      calc(0.5 * 200px) calc(0.5 * 200px * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--dark-royal-blue) 0 60deg,
      var(--glacier-blue) 0 120deg,
      var(--bright-sky-blue) 0 180deg
    );
  background-size: 200px calc(200px * 0.577);
}