#contenedor_rejilla {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.rejilla {
    display: grid;
    width: fit-content;

    /* Creamos 128 columnas de tamaño fijo */
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    /* Creamos 128 filas de tamaño fijo */
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));

    border: 1px solid #ccc;
    background-color: white;
}