#contenedor_rejilla {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#ajustesGrid {
    position: fixed;

    top: 20px;
    right: 20px; 
    z-index: 2;

    width: fit-content;
    padding: 10px 5px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background-color: #8000ff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.rejilla {
    display: grid;
    width: fit-content;

    /* Creamos 128 columnas de tamaño fijo */
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    /* Creamos 128 filas de tamaño fijo */
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));

    border: 1px solid #ccc;
    background-color: white;
}