#inputText_number {
    width: 30px;

    background: none;
    border: none;
    text-align: center;
}

#ajustesGrid-inputNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ajustesGrid-inputNumber p {
    cursor: pointer;

    /* Evita que el texto/emoji se seleccione al hacer clic repetidamente */
    user-select: none;
}