.icon-filter {
    filter: var(--icon-filter);
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-top: 5px;
}

#navBar-menu {
    width: fit-content;

    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    align-items: center;
    gap: 15px;
}

#navBar-menu img {
    width: 50px;
    height: 50px;
}

.icon .tooltip {
    position: absolute;
    top: 50px;

    padding: 5px 10px;

    opacity: 0;
    visibility: hidden;

    background: #333;
    color: #fff;
    border-radius: 5px;

    white-space: nowrap;

    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
    top: 75px;
    opacity: 1;
    visibility: visible;
}