.panel-ajustes {
    position: absolute;

    top: 80px;
    left: 50%;
    transform: translate(-50%, 8px);
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;

    visibility: hidden;
    pointer-events: none;

    border: 1px solid #ccc;

    transition: transform 0.22s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s;

    z-index: 10;
}

.panel-ajustes.activo {
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, 0);
}