:root {
    /* Definimos el tamaño de la rejilla */
    /* El `--grid-size` debe ser igual a la raiz cuadrada de la constante `totalCells` del JS */
    --grid-size: 10;
    --cell-size: 10px;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #939393;
}